In [4]:
import pandas as pd
import numpy as np

In [6]:
base = pd.read_csv('iris.csv')
base

     sepal length  sepal width  petal length  petal width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [8]:
base.shape

(150, 5)

In [18]:
#
np.random.seed(2345)
#criando amostra
amostra = np.random.choice(a=[0,1], size=150, replace = True, p = [0.7, 0.3])

amostra

array([0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1])

In [20]:
base_final = base.loc[amostra==0]
base_final.shape

(101, 5)

In [22]:
base_final2 = base.loc[amostra==1]
base_final2.shape

(49, 5)

In [ ]:
## Amostragem Sistematica

In [27]:
from math import ceil

In [31]:
#Criação de var para representar populacao, amostra e valor k
populacao = 150
amostra = 15
k = ceil(populacao / amostra)
k

10

In [51]:
#Atribuindo valor aleatorio para inicializar a amostra
r = np.random.randint(low = 1, high = k + 1, size = 1)
r

array([9])

In [53]:
acomulador = r[0]
sorteados = []

for i in range(amostra):
    sorteados.append(acomulador)
    acomulador +=k
sorteados

[9, 19, 29, 39, 49, 59, 69, 79, 89, 99, 109, 119, 129, 139, 149]

In [57]:
len(sorteados)

15

In [59]:
base_final = base.loc[sorteados]
base_final

     sepal length  sepal width  petal length  petal width            class
9             4.9          3.1           1.5          0.1      Iris-setosa
19            5.1          3.8           1.5          0.3      Iris-setosa
29            4.7          3.2           1.6          0.2      Iris-setosa
39            5.1          3.4           1.5          0.2      Iris-setosa
49            5.0          3.3           1.4          0.2      Iris-setosa
59            5.2          2.7           3.9          1.4  Iris-versicolor
69            5.6          2.5           3.9          1.1  Iris-versicolor
79            5.7          2.6           3.5          1.0  Iris-versicolor
89            5.5          2.5           4.0          1.3  Iris-versicolor
99            5.7          2.8           4.1          1.3  Iris-versicolor
109           7.2          3.6           6.1          2.5   Iris-virginica
119           6.0          2.2           5.0          1.5   Iris-virginica
129           7.2          3.0           5.8          1.6   Iris-virginica
139           6.9          3.1           5.4          2.1   Iris-virginica
149           5.9          3.0           5.1          1.8   Iris-virginica